@import "tailwindcss";

@font-face {
	font-family: "Closer";
	src: url("/fonts/closer-font/closer.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

.closer {
	font-family: "Closer", sans-serif;
}

@font-face {
	font-family: "Hand";
	src: url("/fonts/hand-write-font/hand.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

.hand {
	font-family: "Hand", sans-serif;
}

.handlee {
	font-family: "Handlee", cursive;
	font-style: normal;
}

* {
	font-family: "Handlee", cursive;
}

.pushable {
	background: #000000;
	border: none;
	border-radius: 3vh;
	padding: 0;
	cursor: pointer;
	transform: translateY(8px) translateX(-8px);
}

.front {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5vh;
	padding: 3vh 2vw;
	padding-bottom: 3.5vh;
	border-radius: 3vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000000;
	transform: translateY(-6px) translateX(6px);
	transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
	font-family: "PT Serif", serif;
	font-weight: 900;
}

.front-blue {
	background: #42b0f5;
}

.front-orange {
	background: #ff8040;
}

.front-white {
	background: #f3efe4;
}

.pushable:hover .front {
	transform: translateY(-10px) translateX(10px);
	transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
	transform: translateY(-2px) translateX(4px);
	transition: transform 34ms;
}
